.pago-per-container {
  min-height: 100vh;
}
.pago-per-pago-per {
  width: 100%;
  height: 813px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.pago-per-rectangle33 {
  top: 180px;
  left: 868px;
  width: 565px;
  height: 633px;
  position: absolute;
  border-color: transparent;
}
.pago-per-rectangle25 {
  top: 669px;
  left: 959px;
  width: 383px;
  height: 71px;
  position: absolute;
  border-color: transparent;
  border-radius: 12px;
}
.pago-per-rectangle35 {
  top: 669px;
  left: 925.5px;
  width: 383px;
  height: 71px;
  position: absolute;
}
.pago-per-rectangle34 {
  top: 180px;
  left: 3px;
  width: 856px;
  height: 633px;
  position: absolute;
}
.pago-per-rectangle36 {
  top: 669px;
  left: 278px;
  width: 392px;
  height: 71px;
  position: absolute;
  border-color: transparent;
  border-radius: 12px;
}
.pago-per-text {
  top: 688px;
  left: 397.5px;
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-group20 {
  top: 373px;
  left: 70px;
  width: 688px;
  height: 68px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.pago-per-text02 {
  top: 20px;
  left: 15px;
  color: rgba(0, 0, 0, 0.4699999988079071);
  width: 565px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pago-per-mdishopedit {
  top: 294px;
  left: 43px;
  width: 87px;
  height: 67px;
  position: absolute;
}
.pago-per-text04 {
  top: 688px;
  left: 1078px;
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-component3 {
  top: 0px;
  left: 0px;
  width: 546px;
  height: 98.25276184082031px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.pago-per-text06 {
  color: rgba(0, 0, 0, 1);
  width: 439px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-rectangle4 {
  top: 35.55198669433594px;
  left: 0px;
  width: 453px;
  height: 63px;
  position: absolute;
  border-color: transparent;
  border-radius: 7px;
}
.pago-per-rectangle5 {
  top: 41.36958312988281px;
  left: 22.119783401489258px;
  width: 409px;
  height: 51px;
  position: absolute;
  border-color: transparent;
  border-radius: 11px;
}
.pago-per-text08 {
  top: 51.711978912353516px;
  left: 34.030433654785156px;
  color: rgba(0, 0, 0, 0.5);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-text10 {
  top: 13.574395179748535px;
  left: 244.16836547851562px;
  color: rgba(0, 0, 0, 0.5);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-eye {
  top: 55.59037780761719px;
  left: 389.6484680175781px;
  width: 38px;
  height: 18px;
  position: absolute;
}
.pago-per-frame7 {
  top: 0px;
  left: 0px;
  width: 1441px;
  display: flex;
  padding: 10px 1px 10px 0;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.pago-per-iniciosuperior {
  width: 1440px;
  height: 189px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.pago-per-inicio-superior1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 183px;
  position: absolute;
  border-color: transparent;
}
.pago-per-izquierda {
  top: 0px;
  left: 0px;
  width: 509px;
  height: 189px;
  position: absolute;
  border-color: transparent;
}
.pago-per-text11 {
  top: 48px;
  left: 205px;
  color: var(--dl-color-default-inicio);
  width: 289px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-pngegg11 {
  top: 32px;
  left: 45px;
  width: 131px;
  height: 119px;
  position: absolute;
  border-color: transparent;
}
.pago-per-text13 {
  top: 85.11257934570312px;
  left: 577px;
  color: var(--dl-color-default-colortextprincipal);
  width: 71px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.pago-per-text15 {
  top: 85.11257934570312px;
  left: 805.0001831054688px;
  color: var(--dl-color-default-colortextprincipal);
  width: 174px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.pago-per-text17 {
  top: 87.61589050292969px;
  left: 994px;
  color: var(--dl-color-default-colortextprincipal);
  width: 168px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.pago-per-frame14 {
  top: 38px;
  left: 1299px;
  width: 141px;
  height: 25px;
  display: flex;
  padding: 5px 5px 4px 5px;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.pago-per-text19 {
  color: var(--dl-color-default-inicio);
  width: 107px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Poppins;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 6px;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-vector {
  width: 16px;
  height: 16px;
  position: relative;
}
.pago-per-text21 {
  top: 85.11257934570312px;
  left: 705.0001831054688px;
  color: var(--dl-color-default-colortextprincipal);
  width: 73px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.pago-per-text23 {
  top: 305px;
  left: 130px;
  color: rgba(243, 115, 32, 0.7400000095367432);
  width: 593px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-text25 {
  top: 458px;
  left: 77px;
  color: rgba(243, 115, 32, 0.7400000095367432);
  width: 593px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-text27 {
  top: 538px;
  left: 130px;
  color: rgba(0, 0, 0, 1);
  width: 239px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-text29 {
  top: 594px;
  left: 130px;
  color: rgba(0, 0, 0, 1);
  width: 239px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-text31 {
  top: 1306px;
  left: 4396px;
  color: rgba(0, 0, 0, 1);
  width: 143px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-text33 {
  top: 1197px;
  left: 4395px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-text38 {
  top: 1306px;
  left: 4109px;
  color: rgba(0, 0, 0, 1);
  width: 286px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-text40 {
  top: 1245px;
  left: 4109px;
  color: rgba(0, 0, 0, 1);
  width: 204px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-text42 {
  top: 1132px;
  left: 3866px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-text47 {
  top: 538px;
  left: 488px;
  color: rgba(0, 0, 0, 0.4399999976158142);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-text52 {
  top: 591px;
  left: 488px;
  color: rgba(0, 0, 0, 0.4399999976158142);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-text57 {
  top: 509px;
  left: 1241px;
  color: rgba(0, 0, 0, 1);
  width: 143px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-text59 {
  top: 582px;
  left: 940px;
  color: rgba(0, 0, 0, 1);
  width: 286px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-text61 {
  top: 582px;
  left: 1241px;
  color: rgba(0, 0, 0, 1);
  width: 143px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pago-per-text63 {
  top: 509px;
  left: 952px;
  color: rgba(0, 0, 0, 1);
  width: 204px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
