.usoper-container {
  min-height: 100vh;
}
.usoper-usoper {
  width: 100%;
  height: 1828px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.usoper-iniciosuperior {
  top: 0px;
  left: 0px;
  width: 1498px;
  height: 151px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.usoper-inicio-superior1 {
  top: 0px;
  left: 0px;
  width: 1498px;
  height: 146px;
  position: absolute;
  border-color: transparent;
}
.usoper-izquierda {
  top: 0px;
  left: 0px;
  width: 530px;
  height: 151px;
  position: absolute;
  border-color: transparent;
}
.usoper-text {
  top: 38.349205017089844px;
  left: 213.25694274902344px;
  color: var(--dl-color-default-inicio);
  width: 301px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-pngegg11 {
  top: 25.566137313842773px;
  left: 46.8125px;
  width: 136px;
  height: 95px;
  position: absolute;
  border-color: transparent;
}
.usoper-text002 {
  top: 68px;
  left: 600.2402954101562px;
  color: var(--dl-color-default-colortextprincipal);
  width: 74px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.usoper-text004 {
  top: 68px;
  left: 837.423828125px;
  color: var(--dl-color-default-colortextprincipal);
  width: 181px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.usoper-text006 {
  top: 70px;
  left: 1034.0361328125px;
  color: var(--dl-color-default-colortextprincipal);
  width: 175px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.usoper-frame14 {
  top: 38px;
  left: 1299px;
  width: 141px;
  height: 25px;
  display: flex;
  padding: 5px 5px 4px 5px;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.usoper-text008 {
  color: var(--dl-color-default-inicio);
  width: 107px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Poppins;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 6px;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-vector {
  width: 16px;
  height: 16px;
  position: relative;
}
.usoper-text010 {
  top: 68px;
  left: 733.39599609375px;
  color: var(--dl-color-default-colortextprincipal);
  width: 76px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.usoper-rectangle9 {
  top: 146px;
  left: 0px;
  width: 1440px;
  height: 272px;
  position: absolute;
  border-color: transparent;
}
.usoper-text012 {
  top: 242px;
  left: 93px;
  color: rgba(255, 255, 255, 1);
  width: 1220px;
  height: auto;
  position: absolute;
  font-size: 55px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-rectangle17 {
  top: 1206px;
  left: 738px;
  width: 657px;
  height: 377px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 22px;
}
.usoper-rectangle28 {
  top: 1206px;
  left: 738px;
  width: 657px;
  height: 377px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 22px;
}
.usoper-text014 {
  top: 1217px;
  left: 994px;
  color: rgba(0, 0, 0, 1);
  width: 204px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-frame9 {
  top: 454px;
  left: 28px;
  width: 781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.usoper-frame10 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 10px;
  background-color: var(--dl-color-default-colortextprincipal);
}
.usoper-text016 {
  color: var(--dl-color-default-color2);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.usoper-frame11 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 10px;
  background-color: var(--dl-color-default-colortextprincipal);
}
.usoper-text018 {
  color: var(--dl-color-default-color2);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.usoper-frame12 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 10px;
  background-color: var(--dl-color-default-colortextprincipal);
}
.usoper-text020 {
  color: var(--dl-color-default-color2);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.usoper-frame13 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  background-color: var(--dl-color-default-colortextprincipal);
}
.usoper-text022 {
  color: var(--dl-color-default-color2);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.usoper-text024 {
  top: 856px;
  left: -6306px;
  color: rgba(0, 0, 0, 1);
  width: 269px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text025 {
  font-weight: 700;
}
.usoper-vector01 {
  top: 739px;
  left: 900px;
  width: 23px;
  height: 34px;
  position: absolute;
}
.usoper-rectangle10 {
  top: 512px;
  left: 733px;
  width: 651px;
  height: 662px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 22px;
}
.usoper-component35 {
  top: 1039px;
  left: 1093px;
  width: 241px;
  height: 104.89453125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.usoper-rectangle12 {
  top: 14.89453125px;
  left: 0px;
  width: 241px;
  height: 90px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.usoper-text037 {
  top: 68.89453125px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  width: 144px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-frameemojicreditcard {
  top: 0px;
  left: 121.12060546875px;
  width: 56.79009246826172px;
  height: 57.824317932128906px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.usoper-vector02 {
  top: 0px;
  left: 0px;
  width: 57px;
  height: 58px;
  position: absolute;
}
.usoper-vector03 {
  top: 24.70775002631467px;
  left: 1.3823239394040456px;
  width: 30px;
  height: 32px;
  position: absolute;
}
.usoper-text039 {
  top: 1109px;
  left: 822px;
  color: rgba(0, 0, 0, 1);
  width: 144px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text041 {
  top: 525px;
  left: 762px;
  color: rgba(0, 0, 0, 1);
  width: 545px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-rectangle171 {
  top: 599px;
  left: 773px;
  width: 241px;
  height: 93px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.usoper-rectangle14 {
  top: 785px;
  left: 745px;
  width: 621px;
  height: 57px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.usoper-rectangle15 {
  top: 872px;
  left: 745px;
  width: 621px;
  height: 57px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.usoper-rectangle16 {
  top: 961px;
  left: 745px;
  width: 621px;
  height: 57px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.usoper-rectangle18 {
  top: 599px;
  left: 1086px;
  width: 241px;
  height: 93px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.usoper-text043 {
  top: 650px;
  left: 828px;
  color: rgba(0, 0, 0, 1);
  width: 144px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text045 {
  top: 650px;
  left: 1116px;
  color: rgba(0, 0, 0, 1);
  width: 191px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-vector04 {
  top: 605.154296875px;
  left: 1195px;
  width: 23px;
  height: 33px;
  position: absolute;
}
.usoper-rectangle13 {
  top: 701px;
  left: 745px;
  width: 621px;
  height: 60px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.usoper-rectangle26 {
  top: 1501px;
  left: 755px;
  width: 621px;
  height: 60px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.usoper-vector05 {
  top: 713.7900390625px;
  left: 900px;
  width: 23px;
  height: 33px;
  position: absolute;
}
.usoper-text047 {
  top: 720px;
  left: 929px;
  color: rgba(255, 255, 255, 1);
  width: 364px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text049 {
  top: 1520px;
  left: 919px;
  color: rgba(255, 255, 255, 1);
  width: 364px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text051 {
  top: 802px;
  left: 773px;
  color: rgba(0, 0, 0, 0.4399999976158142);
  width: 514px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text053 {
  top: 886px;
  left: 773px;
  color: rgba(0, 0, 0, 0.4399999976158142);
  width: 514px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text055 {
  top: 976px;
  left: 982px;
  color: rgba(0, 0, 0, 0.4399999976158142);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-rectangle19 {
  top: 1052px;
  left: 773px;
  width: 241px;
  height: 90px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.usoper-frameemojibanknotewithdollarsign {
  top: 1065.2548828125px;
  left: 850px;
  width: 83.28501892089844px;
  height: 35.238365173339844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.usoper-vector06 {
  top: 28.490575790405273px;
  left: 0px;
  width: 83px;
  height: 7px;
  position: absolute;
}
.usoper-vector07 {
  top: 0px;
  left: 0px;
  width: 83px;
  height: 28px;
  position: absolute;
}
.usoper-vector08 {
  top: 28.490575790405273px;
  left: 31.23193359375px;
  width: 21px;
  height: 7px;
  position: absolute;
}
.usoper-vector09 {
  top: 2.998995542526245px;
  left: 5.205322265625px;
  width: 73px;
  height: 22px;
  position: absolute;
}
.usoper-vector10 {
  top: 5.248183250427246px;
  left: 9.1092529296875px;
  width: 65px;
  height: 18px;
  position: absolute;
}
.usoper-vector11 {
  top: 8.24717903137207px;
  left: 48.149169921875px;
  width: 21px;
  height: 12px;
  position: absolute;
}
.usoper-vector12 {
  top: 0px;
  left: 31.23193359375px;
  width: 21px;
  height: 28px;
  position: absolute;
}
.usoper-vector13 {
  top: 8.24717903137207px;
  left: 15.615966796875px;
  width: 10px;
  height: 12px;
  position: absolute;
}
.usoper-frameemojimotorscooter {
  top: 616px;
  left: 871.33154296875px;
  width: 47.747093200683594px;
  height: 36.666446685791016px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.usoper-vector14 {
  top: 32.0556640625px;
  left: 38.222389221191406px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.usoper-vector15 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 37px;
  position: absolute;
}
.usoper-vector16 {
  top: 17.220703125px;
  left: 27.986021041870117px;
  width: 16px;
  height: 11px;
  position: absolute;
}
.usoper-vector17 {
  top: 18.750244140625px;
  left: 28.895034790039062px;
  width: 16px;
  height: 10px;
  position: absolute;
}
.usoper-vector18 {
  top: 22.2318115234375px;
  left: 4.261568069458008px;
  width: 11px;
  height: 6px;
  position: absolute;
}
.usoper-vector19 {
  top: 29.91485595703125px;
  left: 5.545353889465332px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.usoper-vector20 {
  top: 31.42864990234375px;
  left: 6.134965419769287px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.usoper-vector21 {
  top: 32.0556640625px;
  left: 7.556187629699707px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.usoper-vector22 {
  top: 31.4300537109375px;
  left: 8.97904109954834px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.usoper-vector23 {
  top: 28.3997802734375px;
  left: 6.1344990730285645px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.usoper-vector24 {
  top: 29.51824951171875px;
  left: 7.1845622062683105px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.usoper-rectangle181 {
  top: 533px;
  left: 38px;
  width: 657px;
  height: 210px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 22px;
}
.usoper-image1 {
  top: 549px;
  left: 72px;
  width: 167px;
  height: 132px;
  position: absolute;
  border-color: transparent;
}
.usoper-text057 {
  top: 545px;
  left: 264px;
  color: rgba(0, 0, 0, 1);
  width: 410px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text059 {
  top: 631px;
  left: 264px;
  color: rgba(0, 0, 0, 1);
  width: 199px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text061 {
  top: 597px;
  left: 264px;
  color: rgba(0, 0, 0, 1);
  width: 374px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-rectangle191 {
  top: 674px;
  left: 389px;
  width: 275px;
  height: 60px;
  position: absolute;
  border-color: transparent;
  border-radius: 12px;
}
.usoper-text063 {
  top: 688px;
  left: 451px;
  color: rgba(255, 255, 255, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-rectangle20 {
  top: 778px;
  left: 35px;
  width: 657px;
  height: 210px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 22px;
}
.usoper-image2 {
  top: 799px;
  left: 58px;
  width: 163px;
  height: 143px;
  position: absolute;
  border-color: transparent;
}
.usoper-text065 {
  top: 790px;
  left: 261px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text067 {
  top: 884px;
  left: 261px;
  color: rgba(0, 0, 0, 1);
  width: 199px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-rectangle21 {
  top: 919px;
  left: 386px;
  width: 275px;
  height: 60px;
  position: absolute;
  border-color: transparent;
  border-radius: 12px;
}
.usoper-text069 {
  top: 933px;
  left: 448px;
  color: rgba(255, 255, 255, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-rectangle22 {
  top: 1023px;
  left: 35px;
  width: 657px;
  height: 210px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 22px;
}
.usoper-image3 {
  top: 1040px;
  left: 99px;
  width: 101px;
  height: 132px;
  position: absolute;
  border-color: transparent;
}
.usoper-text071 {
  top: 1035px;
  left: 261px;
  color: rgba(0, 0, 0, 1);
  width: 406px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text073 {
  top: 1129px;
  left: 261px;
  color: rgba(0, 0, 0, 1);
  width: 199px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text075 {
  top: 1087px;
  left: 261px;
  color: rgba(0, 0, 0, 1);
  width: 374px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-rectangle23 {
  top: 1164px;
  left: 386px;
  width: 275px;
  height: 60px;
  position: absolute;
  border-color: transparent;
  border-radius: 12px;
}
.usoper-text077 {
  top: 1178px;
  left: 448px;
  color: rgba(255, 255, 255, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-rectangle24 {
  top: 1268px;
  left: 32px;
  width: 657px;
  height: 210px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 22px;
}
.usoper-image4 {
  top: 1323px;
  left: 69px;
  width: 164px;
  height: 77px;
  position: absolute;
  border-color: transparent;
}
.usoper-text079 {
  top: 1280px;
  left: 258px;
  color: rgba(0, 0, 0, 1);
  width: 199px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text081 {
  top: 1374px;
  left: 258px;
  color: rgba(0, 0, 0, 1);
  width: 199px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text083 {
  top: 1332px;
  left: 258px;
  color: rgba(0, 0, 0, 1);
  width: 374px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-rectangle25 {
  top: 1409px;
  left: 383px;
  width: 275px;
  height: 60px;
  position: absolute;
  border-color: transparent;
  border-radius: 12px;
}
.usoper-text085 {
  top: 838px;
  left: 261px;
  color: rgba(0, 0, 0, 1);
  width: 374px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text087 {
  top: 1423px;
  left: 445px;
  color: rgba(255, 255, 255, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-line4 {
  top: 1269px;
  left: 738px;
  width: 656px;
  height: 0px;
  position: absolute;
}
.usoper-line5 {
  top: 1390px;
  left: 738px;
  width: 658px;
  height: 0px;
  position: absolute;
}
.usoper-group16 {
  top: 1307px;
  left: 767px;
  width: 65px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.usoper-text089 {
  top: 13px;
  left: 13px;
  color: rgba(0, 0, 0, 1);
  width: 20px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.usoper-group18 {
  top: 1320px;
  left: 806px;
  width: 14px;
  height: 13.578081130981445px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.usoper-line1 {
  top: 2px;
  left: 0px;
  width: 14px;
  height: 0px;
  position: absolute;
}
.usoper-line2 {
  top: 0px;
  left: 14px;
  width: 15px;
  height: 0px;
  position: absolute;
}
.usoper-text091 {
  top: 1312px;
  left: 866px;
  color: rgba(0, 0, 0, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text093 {
  top: 1458px;
  left: 773px;
  color: rgba(0, 0, 0, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text095 {
  top: 1409px;
  left: 773px;
  color: rgba(0, 0, 0, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text097 {
  top: 1313px;
  left: 1264px;
  color: rgba(0, 0, 0, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text099 {
  top: 1402px;
  left: 1264px;
  color: rgba(0, 0, 0, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-text101 {
  top: 1457px;
  left: 1264px;
  color: rgba(0, 0, 0, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.usoper-group20 {
  top: 1617px;
  left: 737px;
  width: 657px;
  height: 170px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.usoper-rectangle261 {
  top: 0px;
  left: 0px;
  width: 657px;
  height: 170px;
  position: absolute;
}
.usoper-text103 {
  top: 14px;
  left: 237px;
  color: rgba(0, 0, 0, 1);
  width: 252px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.usoper-rectangle27 {
  top: 57px;
  left: 18px;
  width: 621px;
  height: 94px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.usoper-text105 {
  top: 71px;
  left: 35px;
  color: rgba(0, 0, 0, 0.4699999988079071);
  width: 510px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gayathri;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
